framework:
  cache:
    prefix_seed: '%env(APP_NAME)%'
    default_redis_provider: '%env(REDIS_DSN)%'
    pools:
      cache.doctrine:
        default_lifetime: 60
        adapters: [ cache.adapter.redis, cache.adapter.array ]
      cache.storage:
        default_lifetime: 60
        adapters: [ cache.adapter.redis, cache.adapter.array ]
      cache.rate_limiter:
        default_lifetime: 60
        adapters: [ cache.adapter.redis, cache.adapter.array ]

when@test:
  framework:
    cache:
      pools:
        cache.doctrine:
          adapters: [ cache.adapter.array ]
        cache.storage:
          adapters: [ cache.adapter.array ]
        cache.rate_limiter:
          adapters: [ cache.adapter.array ]
