framework:
  secret: '%env(APP_SECRET)%'
  trusted_proxies: '%env(TRUSTED_PROXIES)%'
  handle_all_throwables: true
  http_method_override: false
  serializer:
    name_converter: serializer.name_converter.camel_case_to_snake_case
  php_errors:
    log: true

when@test:
  framework:
    test: true
    session:
      storage_factory_id: session.storage.factory.mock_file
