framework:
  messenger:
    default_bus: default.bus
    failure_transport: failed
    buses:
      default.bus:
        middleware:
          - App\Infrastructure\Messenger\Middleware\RequestTraceMiddleware
          - App\Infrastructure\Messenger\Middleware\MessageValidationMiddleware
          - doctrine_close_connection
          - doctrine_ping_connection
          - doctrine_transaction
    transports:
      notifier_emails:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          table_name: messenger
          queue_name: 'notifier_emails'
        retry_strategy:
          delay: 60000
          max_retries: 3
          multiplier: 1
      webhook_events:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          table_name: messenger
          queue_name: 'webhook_events'
        retry_strategy:
          delay: 60000
          max_retries: 3
          multiplier: 1
      failed:
        dsn: doctrine://default?queue_name=failed
        options:
          table_name: messenger
    routing:
      'Symfony\Component\Mailer\Messenger\SendEmailMessage': notifier_emails
      'Symfony\Component\RemoteEvent\Messenger\ConsumeRemoteEventMessage': webhook_events
