framework:
  messenger:
    default_bus: command.bus
    failure_transport: failed
    buses:
      command.bus:
        middleware:
          - App\Infrastructure\Messenger\Middleware\CorrelationIdMiddleware
          - App\Infrastructure\Messenger\Middleware\MessageValidationMiddleware
          - doctrine_ping_connection
          - doctrine_close_connection
          - doctrine_transaction
      query.bus:
        middleware:
          - App\Infrastructure\Messenger\Middleware\CorrelationIdMiddleware
          - App\Infrastructure\Messenger\Middleware\MessageValidationMiddleware
          - doctrine_ping_connection
          - doctrine_close_connection
      event.bus:
        default_middleware: allow_no_handlers
        middleware:
          - App\Infrastructure\Messenger\Middleware\CorrelationIdMiddleware
          - doctrine_ping_connection
          - doctrine_close_connection
          - doctrine_transaction
    transports:
      notifier_emails:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          exchange:
            default_publish_routing_key: normal
            name: '%env(APP_NAME)%.notifier_emails.direct'
            type: direct
          queues:
            '%env(APP_NAME)%.notifier_emails.direct':
              binding_keys: [ normal ]
        retry_strategy:
          delay: 60000
          max_retries: 3
          multiplier: 1
      webhook_events:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          exchange:
            default_publish_routing_key: normal
            name: '%env(APP_NAME)%.webhook_events.direct'
            type: direct
          queues:
            '%env(APP_NAME)%.webhook_events.direct':
              binding_keys: [ normal ]
        retry_strategy:
          delay: 60000
          max_retries: 3
          multiplier: 1
      failed:
        dsn: doctrine://default?queue_name=failed
        options:
          table_name: messenger
    routing:
      'Symfony\Component\Mailer\Messenger\SendEmailMessage': notifier_emails
      'Symfony\Component\RemoteEvent\Messenger\ConsumeRemoteEventMessage': webhook_events
