when@dev:
  monolog:
    handlers:
      nested:
        type: stream
        level: debug
        path: php://stdout
        formatter: monolog.formatter.json
        channels:
          - '!console'
          - '!deprecation'
          - '!doctrine'
          - '!event'
          - '!http_client'
          - '!php'

when@test:
  monolog:
    handlers:
      nested:
        type: stream
        level: debug
        path: '%kernel.logs_dir%/%kernel.environment%.log'
      main:
        type: fingers_crossed
        action_level: error
        handler: nested
        excluded_http_codes:
          - 404
          - 405
        channels:
          - '!event'

when@prod:
  monolog:
    handlers:
      nested:
        type: stream
        level: info
        path: php://stdout
        formatter: monolog.formatter.json
        channels:
          - '!deprecation'
          - '!doctrine'
          - '!event'
          - '!php'
          - '!security'
