security:
  providers:
    database:
      id: App\Infrastructure\Security\DatabaseUserProvider
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
      algorithm: auto
  firewalls:
    development:
      pattern: '^/(_(profiler|wdt))'
      security: false
    authentication:
      stateless: true
      pattern: '^/api/auth/signin'
      provider: database
      user_checker: App\Infrastructure\Security\AuthenticatedUser\PasswordAuthenticatedUserChecker
      custom_authenticators:
        - App\Infrastructure\Security\LoginAuthenticator\JsonLoginAuthenticator
    authorization:
      stateless: true
      pattern: '^/api'
      access_token:
        token_handler: App\Infrastructure\Security\AccessTokenHandler\JwtAccessTokenHandler
  role_hierarchy:
    'ROLE_ADMIN': [ 'ROLE_USER' ]

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: plaintext
