**/.DS_Store
*.md
.dockerignore
.editorconfig
.env.*.local
.env.local
.git/
.gitattributes
.github/
.gitignore
.idea/
Dockerfile
LICENSE
compose.yml
config/secrets/*/*.decrypt.private.php
public/bundles/
var/
vendor/
