<!doctype html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <title>{{ email.subject }}</title>
</head>
<body>
{% block lead %}
    {{ email.subject }}
{% endblock %}
<br/>
{% block content %}
    {{ (raw ? content|raw : content)|nl2br }}
{% endblock %}
</body>
</html>
