includes:
  - ../../vendor/phpat/phpat/extension.neon
  - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - ../../vendor/phpstan/phpstan-doctrine/extension.neon
  - ../../vendor/phpstan/phpstan-phpunit/extension.neon
  - ../../vendor/phpstan/phpstan-phpunit/rules.neon
  - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
  - ../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: max
  tmpDir: ../../var/phpstan
  checkBenevolentUnionTypes: true
  checkUninitializedProperties: true
  paths:
    - ../../src
services:
  - { class: Tests\Architecture\LayerDependenciesTest, tags: [ phpat.test ] }
