name: development

on:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      postgres:
        image: postgres:18.1
        env:
          POSTGRES_DB: root
          POSTGRES_PASSWORD: root
          POSTGRES_USER: root
        ports:
          - 5432:5432

    env:
      APP_ENV: test
      APP_NAME: symfony
      DATABASE_URL: postgresql://root:root@localhost:5432/root?serverVersion=17&charset=utf8
      MAILER_DSN: null://null
      MESSENGER_TRANSPORT_DSN: sync://

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build local docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: app-image:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run automated code quality assurance
        run: |
          docker run --rm \
            --network host \
            -e APP_NAME="${{ env.APP_NAME }}" \
            -e DATABASE_URL="${{ env.DATABASE_URL }}" \
            -e MAILER_DSN="${{ env.MAILER_DSN }}" \
            -e MESSENGER_TRANSPORT_DSN="${{ env.MESSENGER_TRANSPORT_DSN }}" \
            -v ${{ github.workspace }}:/app \
            -w /app \
            app-image analyze

      - name: Upload project code coverage reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: opifex/symfony
