name: development

on:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    services:
      postgres:
        image: postgres:18.1
        env:
          POSTGRES_DB: root
          POSTGRES_PASSWORD: root
          POSTGRES_USER: root
        ports:
          - 5432:5432

    env:
      DATABASE_URL: postgresql://root:root@localhost:5432/root?serverVersion=17&charset=utf8
      MAILER_DSN: null://null
      MESSENGER_TRANSPORT_DSN: sync://

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6

      - name: Build local docker image
        run: docker build -t app-image .

      - name: Run automated code quality assurance
        run: |
          docker run --rm \
            --network host \
            -e DATABASE_URL="${{ env.DATABASE_URL }}" \
            -e MAILER_DSN="${{ env.MAILER_DSN }}" \
            -e MESSENGER_TRANSPORT_DSN="${{ env.MESSENGER_TRANSPORT_DSN }}" \
            -v ${{ github.workspace }}:/app \
            -w /app \
            app-image /usr/bin/composer auto-analyze

      - name: Run automated project quality assurance
        run: |
          docker run --rm \
            --network host \
            -e DATABASE_URL="${{ env.DATABASE_URL }}" \
            -e MAILER_DSN="${{ env.MAILER_DSN }}" \
            -e MESSENGER_TRANSPORT_DSN="${{ env.MESSENGER_TRANSPORT_DSN }}" \
            -v ${{ github.workspace }}:/app \
            -w /app \
            app-image /usr/bin/composer auto-quality

      - name: Upload project code coverage reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: opifex/symfony
