name: development

on:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    services:
      postgres:
        image: postgres:18.1
        env:
          POSTGRES_DB: root
          POSTGRES_PASSWORD: root
          POSTGRES_USER: root
        ports:
          - 5432:5432

    env:
      DATABASE_URL: postgresql://root:root@localhost:5432/root?serverVersion=17&charset=utf8
      MAILER_DSN: null://null
      MESSENGER_TRANSPORT_DSN: sync://
      PHP_VERSION: 8.5
      PHP_EXTENSIONS: amqp, apcu, gd, intl, pcntl, pdo_pgsql, redis, xsl, zip

    steps:
      - name: Prepare PHP extensions cache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: ${{ env.PHP_EXTENSIONS }}
          key: php-extensions-cache

      - name: Setup PHP runtime
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: ${{ env.PHP_EXTENSIONS }}

      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install Composer dependencies
        run: /usr/bin/composer install --no-scripts

      - name: Run static code analysis
        run: /usr/bin/composer auto-analyze

      - name: Run tests and quality checks
        run: /usr/bin/composer auto-quality

      - name: Upload code coverage reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: opifex/symfony
